<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TecnicasProyecto4.Properties.Settings.CineConnectionString"
            connectionString="Data Source=DESKTOP-O15S8EP;Initial Catalog=Cine;User ID=Danny;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>